@import '../../../index.scss';

.message-container {
	cursor: default;
	padding: 1px 12px;
	border: 1px solid;
	border-radius: 0.25rem;
}

.info-message-container {
	border-color: $white-color;
}

.success-message-container {
	border-color: $teal-color;
	animation: successColorSwipe 1s;
	animation-timing-function: linear;
	animation-direction: alternate;
}

.failure-message-container {
	border-color: $pink-color;
	animation: failureColorSwipe 1s;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@keyframes successColorSwipe {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: $teal-color;
	}
	100% {
		background-color: transparent;
	}
}

@keyframes failureColorSwipe {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: $pink-color;
	}
	100% {
		background-color: transparent;
	}
}
