$white-color: #ffffff;
$black-color: #000000;
$blue-color: #0d6efd;
$indigo-color: #6610f2;
$purple-color: #6f42c1;
$pink-color: #d63384;
$red-color: #dc3545;
$orange-color: #fd7e14;
$yellow-color: #ffc107;
$green-color: #198754;
$teal-color: #20c997;
$cyan-color: #0dcaf0;
$white-color: #fff;
$gray-color: #6c757d;
$dark-gray-color: #343a40;

body,
html {
	font-family: 'Verdana', sans-serif;
	background-color: $dark-gray-color;
	color: white;
}

textarea {
	font-family: 'Courier New', monospace;
	font-size: 14px !important;
	resize: none;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
}

.ml-auto {
	margin-left: auto !important;
}

.mr-auto {
	margin-right: auto !important;
}

.ml-1 {
	margin-left: 0.25rem !important;
}

.ml-2 {
	margin-left: 0.5rem !important;
}

.mr-1 {
	margin-right: 0.25rem !important;
}

.mr-2 {
	margin-right: 0.5rem !important;
}
